<% article ||= current_article %>

<% content_for :title do %>
  <%= article.title %>
<% end %>

<% wrap_layout :default do %>

<article class="article" itemscope itemtype="http://schema.org/Article">
  <% unless current_article.data.no_header %>
    <header>
      <h1 class="title" itemprop="name">
        <%= article.title %>
      </h1>
      <div class="meta">
        <%= partial "date", locals: { date: article.date } %>

        <% if data.site.disqus_short_name and current_article.data.comments != false and data.site.disqus_show_comment_count == true %>
          <%= link_to "<span>コメント</span>", "#disqus_thread", class: "comment"%>
        <% end %>
      </div>
    </header>
  <% end %>

  <div class="body markdown" itemprop="articleBody"><%= article.body %></div>

  <% if article.tags.count > 0 %>
    <section>
      <div class="article-tag">
        <h2>タグ</h2>
        <%= partial "tags", locals: {tags: article.tags}%>
      </div>
    </section>
  <% end %>

  <% if data.site.disqus_short_name and current_article.data.comments != false %>
    <section>
      <h2>コメント</h2>
      <%= partial "article/disqus_thread" %>
    </section>
  <% end %>

</article>

<% end %>
