<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="description" content="<%= data.site.description %>" />
    <title><%= data.site.title %></title>
  </head>
  <body>
    <header>
      <h1 class="brand-name"><%= data.site.title %><%= link_to '■', data.site.baseurl %></h1>
      <p class="lead"><%= data.site.lead %></p>
    </header>

    <hr/>
    
    <div id="main" role="main">
      <%= yield %>
    </div>

    <%= partial "after_footer" %>
  </body>
</html>
