---
layout: default
pageable: true
per_page: 10
---
<% require 'date' %>

<% prev_date = nil %>
<% page_articles.each_with_index do |article, i| %>
  <% date = article.date.to_datetime %>

  <% new_year = true if !prev_date || prev_date.year != date.year %>
  <% new_month = true if !prev_date || prev_date.month != date.month %>
  <% new_cweek = true if !prev_date || prev_date.cweek != date.cweek %>
  <% new_section = true if new_year || new_month || new_cweek %>

  <% if !i.zero? && new_section %>
    </ul>
  <% end %>

  <% if new_year %>
    <h2><%= date.strftime('%Y年') %></h2>
  <% end %>
  <% if new_month %>
    <h3><%= date.strftime('%m月') %></h3>
  <% end %>
  <% if new_cweek %>
    <h4>（<%= weeks_from_first(date) %>週目・<%= (weeks_from_first(date).odd? ? '学習' : '作業') %>週）</h4>
  <% end %>

  <% if new_section %>
    <ul>
  <% end %>

  <li>
    <span class="date"><%= date.strftime('%e日') %></span>
    <span> / </span>
    <span class="day-period"><%= days_from_first(date) %>日目</span>
    <%= link_to article.title, article %>
  </li>

  <% prev_date = date %>

  <% if page_articles.length - 1 == i %>
    </ul>
  <% end %>
  
<% end %>
